<div class="mx-auto md:w-2/3 w-full">
    <% if alert = flash[:alert] %>
        <%= alert %>
    <% end %>

    <h1 class="font-bold text-3xl text-gray-700">Sign up</h1>

    <%= form_with model: @user, url: registrations_url, class: "contents" do |form| %>
        <%= form.email_field :email_address, required: true, autofocus: true, value: params[:email_address], placeholder: "Enter your email address", 
            class: "block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full" %>
        <%= form.password_field :password, required: true, placeholder: "Enter your password", maxlength: 72, 
            class: "block shadow rounded-md border border-gray-400  px-3 py-2 mt-2 w-full" %>
        <%= form.password_field :password_confirmation, required: true, placeholder: "Confirm your password", 
            maxlength: 72, class: "block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full" %>
        <div class="w-full mt-4">
            <div class="text-red-500 font-semibold">
                Sign-ups are currently disabled.
            </div>
            <%= form.submit "Sign up", class: "w-full py-3 px-5 rounded-lg bg-blue-600/25 cursor-not-allowed text-black/50", disabled: true %>
        </div>
        <div class="mt-4 text-sm text-gray-500">
            Already have an account?
            <%= link_to "Sign in", new_session_path, class: "text-gray-700 underline hover:no-underline" %>
        </div>

    <% end %>
</div>
